---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		font-weight: bolder;
		color: var(--FG-1);
	}
	a:after {
		transition: width .3s ease-in-out;
		position: absolute;
		content: '';
		height: 2px;
		background-color: var(--FG-1);
		width: 0;
		left: 0;
		right: 0;
		bottom: -6px;
		margin: 0 auto;
	}
	a:hover:after, a.active:after {
		width: 100%;
	}
</style>
