---
import '../styles/global.css';

---

<div class="main-nav">
  <img class="avatar" src="#" />
  <div class="title">DeAnti-</div>
  <div class="desc"></div>
  <nav>
    <ul>
      <li>Home</li>
      <li>Articles</li>
      <li>About</li>
    </ul>
  </nav>
  <div class="footer"></div>
</div>