---
const { title, desc, thumbPic } = Astro.props;
---

<div class="post-card">
  <div class="content">
    <div class="title"><h1>{title}</h1></div>
    <div class="desc"><h3>{desc}</h3></div>
  </div>
  <div class="thumb-wrp"></div>
</div>