@import 'index';

.article {
    width: 85%;
    max-width: 900px;

    margin: 0 auto;

    > #need-latex-render {
        padding-bottom: 130px;

        * {
            @include user-select-text;

            &::selection {
                background-color: #79FFE1;
            }
        }

        img {
            @include user-select-none;
        }

        code {
            cursor: text;
            background: transparent;
        }
    }

    blockquote {
        color: #666;
    }

    // TODO Table CSS Style

    table {
        width: 100%;
        border-collapse: separate;
    }

    thead {
        background-color: #FAFAFA;
        border: 1px solid grey;
        border-radius: 4px;
        overflow: hidden;
    }

    tbody {
        > tr {
            border-bottom: 1px solid grey;
        }
    }
}

#zeit-ui-modal .backdrop .offset {
    height: 10px !important;
}

@media screen and (max-width: 500px) {
    .article {
        padding: 25px 20px 0 0;

        > #need-latex-render * {
            word-wrap: break-word;
        }
    }

    .-function-bar {
        position: fixed;
        right: 5px;
    }
}

@media screen and (min-width: 501px) {
    .article {
        min-width: 600px;
        padding: 25px;
    }

    .-function-bar {
        position: fixed;
        right: 30px;
        top: 150px;
    }
}

@media screen and (min-width: 901px) {
    .-function-bar {
        top: 110px;
    }
}