@import "./index";

.Keyboard-wrapper {
    position: absolute;
    z-index: $bottom-index;
    left: 50%;
    width: 900px;
    top: 5rem;
    width: 50rem;
}

.Key {
    fill: #BFBFBF;
}

.Key-active {
    fill: #A0A0A0;
    stroke: #959595;
}