---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION, MAIN_LANG_CODE } from '../consts';
---

<!DOCTYPE html>
<html lang={MAIN_LANG_CODE}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}></BaseHead>
  </head>
  <body>
  </body>
</html>