---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, MAIN_LANG_CODE } from '../consts';
---

<!DOCTYPE html>
<html lang={MAIN_LANG_CODE}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}></BaseHead>
    <style>
      
    </style>
    <slot name="style"></slot>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>