---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, MAIN_LANG_CODE } from '../consts';
---

<!DOCTYPE html>
<html lang={MAIN_LANG_CODE}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}></BaseHead>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="less">
  @import '../styles/sizing.less';
  main {
    margin: 0 auto;
    max-width: var(--SITE-WIDTH-LARGE);
    @media @mobile { max-width: var(--SITE-WIDTH-SMALL); }
    @media @tablet { max-width: var(--SITE-WIDTH-BASE); }
    @media @desktop { max-width: var(--SITE-WIDTH-MEDIUM); }
    @media @largeDesktop { max-width: var(--SITE-WIDTH-LARGE); }
  }
</style>