#admin-login {
    @include fullSize;
    @include allCenter;

    > div {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding-bottom: 100px;

        > * {
            margin: 10px 0;
        }
    }
}

#article-list-in-admin {
    @include fullSize();
    padding: 20px 13px 13px 0;

    > * {
        margin: 0 auto;
    }

    > div {
        width: 90%;
        max-width: 900px;
        display: flex;
        justify-content: space-between;
    }

    > ul {
        width: 90%;
        max-width: 900px;
        padding: 0;

        > li {
            display: flex;
            justify-content: space-between;
            width: 100%;

            > div button {
                margin: 0 3px;
                width: 60px;
            }

            &:before {
                content: none;
            }
        }
    }
}

#admin-editor {
    width: 90%;
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 150px;

    #editor-content {

        > * {
            margin: 5px 0;
        }

        #editor-function-group {
            display: flex;
            justify-content: space-between;

            > div {
                display: flex;
                align-items: center;

                span {
                    font-size: 16px;
                }

                * {
                    margin: 0 5px;
                }
            }
        }

        textarea {
            height: 500px;
        }
    }

    button {
        width: 60px;
        z-index: $content-index !important;
    }

    #editor-file-list {
        position: fixed;
        width: 50%;
        max-width: 900px;
        height: 70%;
        z-index: $information-index;
        padding: 13px;

        > button {
            position: absolute;
            width: 30px;
            height: 27px;
            padding: 0;
        }

        > ul {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding: 21px 0 0 0;
            margin: 0;

            > li {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border: 1px dashed #EAEAEA;
                border-radius: 7px;
                margin: 3px 0;
                width: 100%;

                button {
                    min-width: 60px;
                    padding: 0;

                    div {
                        padding: 0 10px;
                    }
                }

                &:before {
                    content: none;
                }
            }
        }
    }
}