@import './index';


#right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 13px 8px $left-side-width+13px;

    > .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
    }
    
    > .search-bar {
        width: 100%;
        min-width: 600px;
        max-width: 940px;
        padding: 0 20px;
        margin-top: 20px;
    }
}

#input-bar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0 20px;
    max-width: 940px;
    min-width: 600px;
    margin-top: 10px;

    * {
        box-sizing: content-box !important;
    }

    &:focus-within svg {
        stroke: #000 !important;
    }
}

#keyboard {
    margin-left: -5px;
    cursor: pointer;
    z-index: 100;
}