@import './index';

.article-card {
    width: 90%;
    height: 180px;
    min-width: 600px;
    max-width: 900px;
    margin: 15px 0;
    overflow: hidden;
    -webkit-backdrop-filter: blur(7px);
    
    > * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.desc {
    @include user-select-text;
}

.desc::selection {
    background-color: #79FFE1;
}

.-in-desc {
    color: #3291FF;
    @include user-select-none;
}

.-in-desc-code {
    color: #F5A623;
    @include user-select-text;

    &::selection {
        color: #F49B0B;
        background-color: #79FFE1;
    }
}

.go-link {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}