@import "common.scss";

.article-card {
    height: 180px;
    margin: 15px 0;
    overflow: hidden;
    background: rgba(255,255,255,0.6) !important;
    -webkit-backdrop-filter: blur(20px);
    
    > * {
        @include user-select-none;
    }
}

.desc {
    @include user-select-text;
    margin-top: 0 !important;
}

.desc::selection {
    background-color: #79FFE1;
}

.-in-desc {
    color: #3291FF;
    //color: #F81CE5;
    @include user-select-none;
}

.-in-desc-code {
    color: #F5A623;
    //color: #F81CE5;
    @include user-select-text;

    &::selection {
        color: #F49B0B;
        background-color: #79FFE1;
    }
}

.go-link {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 500px) {
    .article-card {
        width: 100%;
    }
}

@media screen and (min-width: 501px) {
    .article-card {
        width: 90%;
        min-width: 600px;
        max-width: 900px;
    }
}