@import './index';

#article-list-page {
    @include fullSize;

    > #right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 13px 8px $left-side-width+13px;

        > .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 20px;
        }


    }
}