// var

// UI
$left-side-width: 250px;
// z-index
$information-index: 1000;
$bar-index: 700;
$content-index: 350;
$background-index: 1;
$bottom-index: 0;


// mixin

@mixin allCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fullSize {
    width: 100%;
    height: 100%;
}

@mixin user-select-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@mixin user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}