@import "./common.scss";

#footer {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    //width: 100%;
    //padding-left: $left-side-width;
    width: $left-side-width;
    height: auto;
    top: auto;
    bottom: 8px;
    font-size: 13px;
    font-weight: lighter;
    z-index: $bar-index + $background-index;
    transition: all ease-in-out 0.7s;

    * {
        transition: all ease-in-out 0.7s;
    }

    #footer-row {
        display: inline-block;
    }
}

.whole-screen-footer {
    margin-left: calc(50% - 125px);
}

.record-number {
    font-size: 8px;
}

@media screen and (max-width: 900px) {
    #footer {
        color: #111111;
        margin-left: calc(50% - 125px);
    }
}

@media screen and (min-width: 901px) {
    #footer {
        color: #FFF;
    }
}