@import './index';

#footer-container {
    width: 100%;
}

#footer {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    //width: 100%;
    //padding-left: $left-side-width;
    width: $left-side-width;
    color: #FFF;
    top: auto;
    bottom: 8px;
    font-size: 13px;
    font-weight: lighter;
    z-index: $bar-index + $background-index;

    #footer-row {
        display: inline-block;
    }
}

.whole-screen {
    > #footer {
        width: 100%;
    }
}

.record-number {
    font-size: 8px;
}