@import "./common.scss";

// normal

* {
    box-sizing: border-box !important;
    @include user-select-none;
    -webkit-user-drag: none;
    outline: none;
}

html, body, #__next {
    @include fullSize;
    padding: 0;
    margin: 0;
}

#root {
    @include fullSize;
}


#right-content {
    @include fullSize;
    //background: url('https://assets.zeit.co/image/upload/q_auto/front/assets/design/black-nextjs.png') no-repeat;
    overflow-y: auto;

    //* {
    //    z-index: $content-index;
    //}

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul, ol {
        li:before {
            content: none !important;
        }
    }
}

.msg-notice {
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: $information-index;

    max-width: 430px;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    padding: 3px 13px;
    box-shadow: 5px 5px 10px rgba(50,50,50, .3);

    > p {
        line-height: 14px;
        font-size: 14px;
        font-weight: bold;
    }
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    transition: all ease-in-out 0.7s;
}

@media screen and (min-width: 901px) {
    #right-content {
        padding-left: $left-side-width;
    }
}

@media screen and (max-width: 900px) {
    #right-content {
        padding: 40px 13px 0 13px;
    }
}

@media (prefers-color-scheme: dark) {
    // 阴间效果，好耶
    img:not(.avatar-img, .music-player-img) {
        filter: invert(1);
    }
    
    ::-webkit-scrollbar {
        width: 5px;
        background-color: #111;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #CACACA;
        border-radius: 5px;
    }
}