@import 'mixins';
@import 'variables';

.articleList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile() { padding: 8px 0 0 0; }
  @include mini-screen() { padding: 8px 13px 0 13px; }
  @include desktop() { padding: 8px 13px 0 13px; }
}

.inputBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.empty {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
}
