@import "./common.scss";

.music-player-container {
    width: 100%;
    @include allCenter;
}

.music-player {
    max-width: 500px;
}

.music-player-content {
    display: flex;
    flex-direction: row;
    align-items: center;


    > .play-button {
        @include allCenter;
        //position: absolute;
        padding: 0;
        margin-left: -75px;
        margin-right: 50px;
        background: transparent;
        border: none;
        cursor: pointer;

        > svg {
            border-radius: 50%;
            background-color: rgba(10,10,10,.3);

            > path {
                transition: fill ease-in-out 0.3s;
                fill: #EAEAEA;
            }
        }

        &:hover > svg > path {
            fill: url(#hover);
        }
    }

    > .music-player-info {
        padding: 0 20px;

        > .music-player-title {
            display: flex;
            flex-direction: row;
            align-items: center;

            font-size: 18px;
            font-weight: bold;

            > *:last-child {
                margin-left: 8px;
            }
        }

        > .music-player-sub-title {
            font-size: 14px;
            margin-top: 3px;
        }
    }
}