.upload-page {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 80%;

  > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 230px;
  border: 2px solid rgb(234,234,234);
  border-radius: 5px;
  color: #333;
  transition: all ease-in-out .5s;

  &.dragovering {
    background: rgba(0,0,0,.25);
    border-color: black;
    color: black;
  }
}

.upload-operate-box {
  display: flex;
  flex-direction: row;
  width: 100%;

  > *:not(:last-child) {
    margin-right: 10px;
  }

  .upload-file-list {
    flex: 2;
  }

  .function-group {
    flex: 1;
    width: 100%;

    > * {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.upload-file-list {
  width: 100%;
  padding: 0 10px;
  margin: 0;

  color: black;
  border: 2px solid rgb(234,234,234);
  border-radius: 5px;

  > .upload-list-title {
    font-weight: bold;
    font-size: 18px;
    list-style-type: none;
    color: black;
  }

  > .upload-file-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    > .file-info {
      display: flex;
      flex-direction: column;
      width: 100%;

      > .upload-file-name {
        color: black;
        width: 100%;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      > .upload-file-type {
        font-size: 12px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .upload-box {
    border-color: #666;
    color: #666;

    &.dragovering {
      background: rgba(255,255,255,.25);
      border-color: #EAEAEA;
      color: #EAEAEA;
    }
  }

  .upload-file-list {
    color: #666;
    border-color: #666;

    > .upload-list-title {
      color: #EAEAEA;
    }

    > .upload-file-element > .file-info > .upload-file-name {
      color: #EAEAEA;
    }
  }
}